/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Quicksand:wght@600&display=swap');

/* Color Variables */
:root {
  --background-light: #f9f9f9;
  --text-dark: #2e2e2e;
  --accent-beige: #eadbc8;
  --accent-green: #a3b18a;
  --accent-terracotta: #ddb892;
  --hover: #7d8f69;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

/* General Page Setup */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-light);
  color: var(--text-dark);
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color: var(--accent-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #F2F1F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    margin-right: 0%;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #F2F1F0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
  }
  .navbar a:hover, .dropdown:hover .dropbtn{
    opacity: 0.9;
  }
  .navbar a.active, .dropdown:hover.active .dropbtn {
    background-color: var(--accent-terracotta);
    color: var(--text-dark);
  }
  .navbar a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
    background-color: var(--accent-beige);
    color: var(--text-dark);
  }
  .dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: var(--background-light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(16,24,32,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: #101820;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }