<app-navbar></app-navbar>

<div class="Ingredients">
    <div class="sections-container">
      <div *ngFor="let category of categories" class="section">
        <h2>{{ category | titlecase }}</h2>
        <div class="grid-container">
          <div class="ingredient-box" *ngFor="let ingredient of groupedPantry[category]">
            {{ ingredient.name }} ({{ ingredient.quantity }} {{ ingredient.unit }})
          </div>
          <div class="ingredient-box empty" *ngIf="groupedPantry[category].length === 0">
            No ingredients in this category.
          </div>
        </div>
      </div>
    </div>
  </div>
  
    

<button class="floating-button" (click)="toggleFoodForm()">+</button>

<div class="popup" *ngIf="showPopup">
    <form (ngSubmit)="addIngredient()">
        <h2>Add an Ingredient</h2>

        <div class="input-row">
            <label for="foodName">Ingredient:</label>
            <select id="foodName" [(ngModel)]="newIngredient.name" (change)="updateIngredientDetails()" name="foodName" required>
                <option *ngFor="let ingredient of ingredientList" [value]="ingredient.name">{{ ingredient.name }}</option>
            </select>

            <label for="foodQuantity">Quantity:</label>
            <input type="number" id="foodQuantity" [(ngModel)]="newIngredient.quantity" name="foodQuantity" min="1" required>

            <label for="foodType">Category:</label>
            <input type="text" id="foodType" [(ngModel)]="newIngredient.type" name="foodType" readonly>

            <label for="unitType">Unit:</label>
            <input type="text" id="unitType" [(ngModel)]="newIngredient.unit" name="unitType" readonly>

        </div>

        <div class="submit-row">
            <button type="submit">Add</button>
            <button type="button" (click)="toggleFoodForm()">Cancel</button>
        </div>

    </form>
</div>
