<div class="navbar">
    <a routerLink="/home" title="Home">
        <img src="/Home.png" alt="Home" style="height: 50px;">
    </a>
    <a routerLink="/pantry" title="Pantry">
        <img src="/Pantry.png" alt="Pantry" style="height: 50px;">
    </a>
    <a routerLink="/recipes" title="Recipes">
        <img src="/Recipies.png" alt="Recipes" style="height: 50px;">
    </a>
    <a routerLink="/shopping-cart" title="Shopping Cart">
        <img src="/ShoppingCart.png" alt="Shopping Cart" style="height: 50px;">
    </a>
</div>