<div class="navbar">
    <a routerLink="/home" title="Home">
        <img src="assets/Home.png" alt="Home" style="height: 50px;">
    </a>
    <a routerLink="/pantry" title="Pantry">
       <img src="assets/Pantry.png" alt="Pantry" style="height: 50px;">
    </a>
    <a routerLink="/recipes" title="Recipes">
        <img src="assets/Recipies.png" alt="Recipes" style="height: 50px;">
    </a>
    <a routerLink="/shopping-cart" title="Shopping Cart">
        <img src="assets/ShoppingCart.png" alt="Shopping Cart" style="height: 50px;">
    </a>
</div>
